input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}
.application-body {
	font-family: 'Varela Round', sans-serif;
	margin: 0; 
  max-width: 100%;
  overflow-x: hidden;
}

.coin-input {
	padding: 0.5% 0.5%;
	font-size: 100%;
	width: 15%;
}

footer {
  margin-top: 10%;
  max-width: 100%;
  overflow-x: hidden;
	background-color: #e0e0e0;
	position: relative;
	border-top: 2px solid #949494;
	left: 0;
	bottom: 0;
	height: 10%;
	width: 100%;
	overflow:hidden;
	text-align: center;
  color: #5c5c5c;
}

@media screen and (max-width: 600px) {
	footer {
		font-size: 80%;
		height: 7%;
	}
}
/* line 1, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coins-index-title {
  text-align: center;
}

/* line 5, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coins-container {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 65%;
}

/* line 13, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coin-container {
  background-color: #e0e0e0;
  border: 2px solid #a8a8a8;
  border-radius: 15px;
  width: 99%;
  margin-top: 1%;
  margin-bottom: 2%;
}

/* line 22, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.flag-coins-index {
  height: 15%;
  width: 15%;
  margin-top: 2%;
  margin-left: 7.5%;
}

/* line 29, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coin-title-name {
  padding: 1% 1%;
  background-color: #292929;
  width: 30%;
  margin-top: -1px;
  margin-left: -2px;
  border-radius: 15px;
  border: 5px solid #292929;
}

/* line 39, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coin-name-link {
  color: white;
  font-size: 120%;
  text-decoration: none;
}

/* line 45, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
p {
  text-align: center;
  width: 30%;
  margin-left: 0px;
  font-size: 120%;
  font-weight: bold;
}

/* line 53, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coin-value {
  margin-top: -22%;
  float: right;
  margin-right: 22%;
  font-size: 150%;
}

/* line 60, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
.coin-story {
  width: 50%;
  max-height: 100%;
  font-size: 75%;
}

@media screen and (max-width: 900px) {
  /* line 67, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-name-link {
    font-size: 90%;
  }

  /* line 70, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-title-name {
    width: 40%;
    border-radius: 10px;
    padding: 0% 1%;
  }

  /* line 76, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coins-container {
    width: 90%;
  }

  /* line 79, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-container {
    border-radius: 10px;
    margin-bottom: 5%;
  }

  /* line 83, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-value {
    font-size: 120%;
    margin-top: -22%;
    margin-right: 15%;
  }
}
@media screen and (max-width: 600px) {
  /* line 91, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coins-container {
    width: 95%;
  }

  /* line 95, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-value {
    font-size: 90%;
    margin-top: -25%;
    margin-right: 10%;
  }

  /* line 100, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-title-name {
    width: 50%;
  }

  /* line 103, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  .coin-name-link {
    font-size: 85%;
  }

  /* line 107, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-index.scss */
  p {
    font-size: 100%;
  }
}
/* line 1, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-title {
  text-align: center;
  font-size: 300%;
  margin-bottom: 0;
}

/* line 7, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

/* line 13, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-flag {
  width: 240px;
  height: 240px;
  display: block;
  margin-top: -2%;
  margin-left: auto;
  margin-right: auto;
}

/* line 22, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-subcontainer {
  font-size: 150%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

/* line 31, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-input {
  font-size: 100%;
  border: 2px solid #a8a8a8;
  padding: 8px 1%;
  width: 9%;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
}

/* line 43, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-story-container {
  padding: 0% 0%;
  border: 2px solid #a8a8a8;
  border-radius: 10px;
  width: 55%;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

/* line 53, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-story-title {
  text-align: center;
}

/* line 57, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-story-body {
  border-top: 2px solid #a8a8a8;
  text-align: justify;
  text-indent: 5%;
  margin-top: -2%;
  padding: 2% 2%;
}

/* line 65, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.button-coin-show {
  background-color: #1250cc;
  border-radius: 5px;
  border: 1px solid #2033b0;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 1%;
  text-decoration: none;
  position: absolute;
  margin-top: 1%;
  margin-left: 10%;
}

/* line 78, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.button-coin-show:hover {
  background-color: #04246e;
}

/* line 82, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.button2 {
  margin-left: 22%;
}

/* line 86, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
.coin-show-buttons {
  width: 40%;
  height: 40%;
  margin-top: 1%;
  position: absolute;
  padding-left: 10%;
}

@media screen and (max-width: 1100px) {
  /* line 95, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-container {
    width: 100%;
  }

  /* line 99, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .button1 {
    margin-right: 10%;
  }

  /* line 103, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-buttons {
    width: 90%;
    height: 40%;
    margin-top: 1%;
    position: relative;
    padding-left: 0;
  }
}
@media screen and (max-width: 690px) {
  /* line 116, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-title {
    font-size: 200%;
  }

  /* line 120, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-flag {
    width: 130px;
    height: 130px;
    margin-bottom: 2%;
  }

  /* line 125, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-container {
    width: 92%;
  }

  /* line 129, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-subcontainer {
    width: 100%;
    font-size: 120%;
  }

  /* line 134, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-story-container {
    margin-top: 4%;
    font-size: 110%;
    width: 98%;
  }

  /* line 140, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-input {
    width: 30%;
  }

  /* line 144, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .button-coin-show {
    position: relative;
    margin-top: 0;
    margin-left: 0;
  }

  /* line 150, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .coin-show-buttons {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
  }

  /* line 160, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coin-show.scss */
  .button1 {
    margin-right: 3%;
  }
}
/* line 1, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
.button {
  -moz-box-shadow: 0px 0px 3px 0px #0d0d0d;
  -webkit-box-shadow: 0px 0px 3px 0px #0d0d0d;
  box-shadow: 0px 0px 3px 0px #0d0d0d;
  background-color: #1250cc;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  border: 1px solid #2033b0;
  cursor: pointer;
  color: #ffffff;
  padding: 1% 1%;
  text-decoration: none;
  text-shadow: 1px 0px 27px #000000;
  position: absolute;
}

/* line 17, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
.myButton {
  display: inline-block;
  margin-left: 10%;
}

/* line 22, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
.button:hover {
  background-color: #04246e;
}

/* line 26, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
.button-home {
  display: inline-block;
  margin-left: 3%;
  margin-top: -6%;
}

/* line 32, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
.myButton-mobile {
  display: none;
}

@media screen and (max-width: 900px) {
  /* line 37, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
  .myButton {
    display: none;
  }

  /* line 41, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
  .myButton-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  /* line 52, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
  .button-home {
    margin-top: -8%;
  }
}
@media screen and (max-width: 600px) {
  /* line 58, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
  .myButton-mobile {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 7%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  /* line 69, /home/lucas/Documents/blogs/emReais/app/assets/stylesheets/coins.scss */
  .button-home {
    margin-top: -15%;
  }
}
.home-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 400%;
	text-align: center;
	margin-top: 3%;
}

.home-subtitle {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.coin-home-input {
	padding: 1px 1%;
  font-size: 100%;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
}

.input1 {
  width: 8%;
  border: 2px solid #a8a8a8;
}

.input2 {
  width: 15%;
  border: 2px solid #828282;
  background-color: transparent;
}

.coin-home-input:focus {
	border: 2px solid #525252;	
}


.flag {
	height: 50px; 
	width: 55px;
}

.flag-home {
	height: 60px; 
	width: 65px;	
}

.left-flag {
	margin-right: 8px;
}

.right-flag {
	margin-left: 8px;
}

/*
Dolar style
*/
.dolar-input-home {
	padding: 5px 2%;
	font-size: 95%;
	width: 8%;
	margin-right: 10px;
}

.dolar-container {
	font-size: 180%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.other-coins-home {
	width: 100%;
	text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.commun {
	width: 50%;
	padding: 50px 0px;
}

/*
Euro style
*/
.euro-container {
	background-color: #b9d8ed;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.libra-container {
	background-color: #f0a3a3;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {

  .home-title {
  	font-size: 280%;
  	margin-top: 7%;
  	margin-bottom: 7%;
  }
}

@media screen and (max-width: 900px) {
  .commun {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {


	.coin-home-input {
		width: 17%;
		padding: 8px 1%;
	}

	.dolar-container {
		font-size: 120%;
		text-align: center;
		display: flex;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	}

	.dolar-input-home {
		width: 20%;
		
	}

	.flag {
		height: 12%; 
		width: 12%;
	}

	.flag-home {
		height: 10%; 
		width: 10%;
	}

	.other-coins-home {
		width: 100%;
		text-align: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	}

	.commun {
		width: 100%;
	}

	.euro-container {
		font-size: 120%;		
	}

	.libra-container {
		font-size: 120%;		
	}

}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

