<div class="error-page-text">
	<h1> Desculpe, não possível carregar o valor das moedas. </h1>
	<img src="http://svgur.com/i/2SH.svg" alt="error-image" class="page-error-image">	
	
	<h2> Tente novamente mais tarde. Obrigado. </h2>	
</div>
