<h1> emReais.com </h1>

$ 1,00 dolar = R$ <%= InoxConverter.convertCurrency(1, "USD", "BRL").round(2) %> reais
<br>
<br>
£ 1,00 euro = R$ <%= InoxConverter.convertCurrency(1, "EUR", "BRL").round(2) %> reais