 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> 
<h1 class="home-title"> emReais.com </h1>

<div class="dolar-container">

	<div class="dolar-container-element" style="text-align: right; margin-left: 100px;">
		$ <input type="number" name="dolar-value" value="<%= @dolar_value %>" id="dolar-input" class="coin-input">  dólares
	</div>
	<div class="dolar-container-element" style="float: left; margin-top: 10px; margin-left: -150px;">	
		<div class="total-dolares" id="total-dolares-result">   = R$ <%= number_with_precision(InoxConverter.convertCurrency(@dolar_value, "USD", "BRL").round(2), precision: 2) %> reais
		</div>
	</div>
</div>

<br>
<br>
£ 1,00 euro = R$ <%= number_with_precision(InoxConverter.convertCurrency(1, "EUR", "BRL").round(2), precision: 2) %> reais

<script type="text/javascript">

	$("#dolar-input").keyup(function(){
		let dolar = parseFloat($('#dolar-input').val(), 10);
		let new_dolar;
		console.log(dolar);
		if (dolar == null || isNaN(dolar)) { new_dolar = 0.00 }
		else {
			new_dolar = dolar * <%= @one_dolar %>
		}
		$('#total-dolares-result').html('= R$ '+new_dolar.toFixed(2)+ ' reais')
	})
</script>