input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.application-body {
	font-family: 'Varela Round', sans-serif;
	margin: 0;
}

.coin-input {
	padding: 0.5% 0.5%;
	font-size: 100%;
	width: 15%;
}

footer {
	background-color: #e0e0e0;
	position: absolute;
	border-top: 2px solid #949494;
	left: 0;
	bottom: 0;
	height: 10%;
	width: 100%;
	overflow:hidden;
	text-align: center;
	color: #5c5c5c;
}