.home-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 400%;
	text-align: center;
	margin-top: 3%;
}

.home-subtitle {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
}

.coin-home-input {
	padding: 1px 1%;
  font-size: 100%;
  border-radius: 5px;
  margin-top: -10px;
  margin-left: 1%;
  margin-right: 1%;
  color: black;
}

.input1 {
  width: 8%;
  border: 2px solid #a8a8a8;
}

.input2 {
  width: 15%;
  border: 2px solid #828282;
  background-color: transparent;
}

.coin-home-input:focus {
	border: 2px solid #525252;	
}


.flag {
	height: 50px; 
	width: 55px;
}

.flag-home {
	height: 60px; 
	width: 65px;	
}

.left-flag {
	margin-right: 8px;
}

.right-flag {
	margin-left: 8px;
}

/*
Dolar style
*/
.dolar-input-home {
	padding: 5px 2%;
	font-size: 95%;
	width: 8%;
	margin-right: 10px;
}

.dolar-container {
	font-size: 180%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.other-coins-home {
	width: 100%;
	text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.commun {
	width: 50%;
	padding: 50px 0px;
}

/*
Euro style
*/
.euro-container {
	background-color: #b9d8ed;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.libra-container {
	background-color: #f0a3a3;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {

  .home-title {
  	font-size: 280%;
  	margin-top: 7%;
  	margin-bottom: 7%;
  }
}

@media screen and (max-width: 900px) {
  .commun {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {


	.coin-home-input {
		width: 17%;
		padding: 8px 1%;
	}

	.dolar-container {
		font-size: 120%;
		text-align: center;
		display: flex;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	}

	.dolar-input-home {
		width: 20%;
		
	}

	.flag {
		height: 12%; 
		width: 12%;
	}

	.flag-home {
		height: 10%; 
		width: 10%;
	}

	.other-coins-home {
		width: 100%;
		text-align: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	}

	.commun {
		width: 100%;
	}

	.euro-container {
		font-size: 120%;		
	}

	.libra-container {
		font-size: 120%;		
	}

}