.coin-input-home {
	text-align: left;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	direction: rtl;
}

.coin-input-home:focus {
	border-bottom: 2px solid black;
}

/*
Dolar style
*/
.dolar-input-home {
	padding: 5px 2%;
	font-size: 95%;
	width: 8%;
	margin-right: 10px;
}

.dolar-container {
	font-size: 180%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.us-flag-home {
	font-size: 150%; 
	margin-right: 10px;
}

.br-flag-home {
	font-size: 150%; 
	margin-left: 10px;
}

.other-coins-home {
	width: 100%;
	display: flex;
}

.commun {
	width: 50%;
	padding: 50px 0px;
}

/*
Euro style
*/
.euro-input-home {
	padding: 2px 1px;
	font-size: 100%;
	width: 18%;
	margin-right: 5px;
	padding-left: 5px;
	background-color: transparent;
}
.euro-container {
	background-color: #7dbae3;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.libra-container {
	background-color: #f57373;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}