.home-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 400%;
	text-align: center;
	margin-top: 3%;
}

.coin-input-home {
	text-align: left;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid black;
	
}

.coin-input-home:focus {
	border-bottom: 2px solid black;
}

.flag {
	height: 50px; 
	width: 55px;
}

.flag-home {
	height: 60px; 
	width: 65px;	
}

.left-flag {
	margin-right: 8px;
}

.right-flag {
	margin-left: 8px;
}

/*
Dolar style
*/
.dolar-input-home {
	padding: 5px 2%;
	font-size: 95%;
	width: 8%;
	margin-right: 10px;
}

.dolar-container {
	font-size: 180%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.other-coins-home {
	width: 100%;
	text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.commun {
	width: 50%;
	padding: 50px 0px;
}

/*
Euro style
*/
.euro-input-home {
	padding: 2px 1px;
	font-size: 100%;
	width: 18%;
	margin-right: 5px;
	padding-left: 5px;
	background-color: transparent;
}
.euro-container {
	background-color: #b9d8ed;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.libra-container {
	background-color: #f0a3a3;		
	font-size: 150%;
	text-align: center;
	display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 390px) {

  .home-title {
  	font-size: 280%;
  	margin-top: 7%;
  	margin-bottom: 7%;
  }
}

@media screen and (max-width: 900px) {
  .commun {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {

	.dolar-container {
		font-size: 120%;
		text-align: center;
		display: flex;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	}

	.dolar-input-home {
		width: 20%;
		
	}

	.flag {
		height: 12%; 
		width: 12%;
	}

	.flag-home {
		height: 10%; 
		width: 10%;
	}

	.other-coins-home {
		width: 100%;
		text-align: center;
	  justify-content: center;
	  margin-left: auto;
	  margin-right: auto;
	}

	.commun {
		width: 100%;
	}

	.euro-container {
		font-size: 120%;		
	}

	.libra-container {
		font-size: 120%;		
	}

}